{% extends "layout.html" %} 

{% block title %}Home{% endblock %}

{% block headtext %}
<h6>Welcome to this website</h6>
<h4><em>Home</em> powered by flask</h4>
{% endblock %}


{% block body %}
  <!-- ***** Most Popular Start ***** -->
  <div class="most-popular">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-section">
          <h4><em>idk Lorem ipsum</em> Right Now</h4>
        </div>s
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="item" style="display: flex; justify-content: center;">
              <iframe width="953" height="536" src="https://www.youtube.com/embed/jfKfPfyJRdk" title="lofi hip hop radio 📚 - beats to relax/study to" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Most Popular End ***** -->

{% endblock %}
